## Question - 1

In [1]:
import pandas as pd

data = pd.read_csv("titanic-passengers.csv",sep=";")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
889,102,No,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S

In [2]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
data["Age"].fillna(data["Age"].mean(),inplace=True)
data.replace({"Sex":{"male":1,"female":0}},inplace=True)
data["Cabin"]=data["Cabin"].fillna("G6")
data.replace({"Survived":{"Yes":1,"No":0}},inplace=True)
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [5]:
x= data.drop(["PassengerId","Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= data["Survived"]


x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25,random_state=15)


trees=tree.DecisionTreeClassifier(criterion='gini',splitter='random')  
trees.fit(x_train, y_train)
y_pred=trees.predict(x_test)

print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7802690582959642

## Question - 2

In [6]:
import graphviz

dot_data=tree.export_graphviz(trees,out_file=None,feature_names=x.columns,filled=True,rounded=True,
                              special_characters=True,class_names=['Not survived', 'Survived'],impurity=True)
graph=graphviz.Source(dot_data)
graph.render("data",view=True)

'data.pdf'

<b>from the decision tree we just drew, we can make predictions. We can tell from our plot that women are more likely to survive overall. Besides, 2nd class people under the age of 40 have more chances of surviving. What we also see are the people with the lowest fare and parents or/and kids are likely to survive.</b>

<b></b>

## Question - 3

In [7]:
dtrees=tree.DecisionTreeClassifier(criterion='gini',splitter='best',max_depth=5)  
dtrees.fit(x_train, y_train)
dy_pred=dtrees.predict(x_test)

print("score:{}".format(accuracy_score(y_test, dy_pred)))

score:0.8116591928251121

In [8]:
dot_data2=tree.export_graphviz(dtrees,out_file=None,feature_names=x.columns,filled=True,rounded=True,
                              special_characters=True,class_names=['Not survived', 'Survived'],impurity=True)
graph=graphviz.Source(dot_data2)
graph.render("data2",view=True)

'data2.pdf'

<b>data2 is there to confirm the previous prediction made in question 2</b>

## Question - 4

<b>comparison</b>

<b>with changing some parameters in the DecisionTreeClassifier function, we get better accuracy. We can explain that by the type of splitter and max_depth.<br>
In the first try, we did use a random splitter in comparison with 2 nd try we did use the best splitter. What that means, the best splitter type means the decision tree will choose the best random split of the tree using Gini impurity as criterion instead of just a random split. Also, in the 2nd try, we add a parameter is the max_depth which stops the expansion of the tree at a certain value.</b>

## Questions - 5

In [77]:
from sklearn.ensemble import RandomForestClassifier

rndfor=RandomForestClassifier(criterion="gini",n_estimators=20)
rndfor.fit(x_train,y_train)
rnd_y_predict=rndfor.predict(x_test)

print("score:{}".format(round(accuracy_score(y_test, rnd_y_predict),2)*100))

score:78.0

In [66]:
rndfor2=RandomForestClassifier(criterion="gini",n_estimators=100,max_depth=5)
rndfor2.fit(x_train,y_train)
rnd_y_predict2=rndfor2.predict(x_test)

print("score : {} ".format(round(accuracy_score(y_test, rnd_y_predict2),2)*100))

score : 83.0

## Question - 6

<b>comparison<br>
In comparison with the previous result, we can notice an improvement when we change the number of estimators but this improvement is about 2% or less. So for increasing the accuracy of the random forest model we can add a max depth which will increase the accuracy.</b>